.navbar-brand {
    background-color: #b3ffff;
    color: #000000;
}
.navbar-link {
    color: darkgray;
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-link:hover {
    cursor: pointer;
    color: darkgray;
}
.container {
    margin-top: 25px;
}